  <%= render 'pages/home' %>
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">  
    <% @tasks.each do |task| %>
      <div class="box panel panel-default">
      <blockquote>
      <p><span class="label label-default">To-Do</span>&nbsp;<%= task.name %></p>
      </blockquote>

       <div class="panel-heading">
       <%= link_to image_tag(task.image.url(:medium)), task %>
       </div>
       <div class="panel-body">
         
         <p><%= task.description %></p>
         <!-- <p><%# task.user.email if task.user %></p> -->
          <!--<%= task.due %> -->
         <p>Priority : <span  class="badge"><%= task.priority %></span></p>
         <hr/>
         <% if task.user == current_user && (!current_user.nil?) %>
           <div class="panel-footer center">
              <div class="btn-group">
                   <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_task_path(task), class: "btn btn-default" %>
                   <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), task, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
                
              </div>
           </div>
         <% end %>
        </div>
      </div>
    <% end %>
    
  </div>
