  <%= render 'pages/home' %>
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">  
    <% @tasks.each do |task| %>
      <div class="box panel panel-default">
       <div class="panel-heading">
       <%= image_tag task.image.url(:medium) %>
       </div>
       <div class="panel-body">
         <p><%= task.name %></p>
         <p><%= task.description %></p>
         <p><%= task.user.email if task.user %></p>
          <!--<%= task.due %> -->
         <p><%= task.priority %></p>
         <hr/>
         <div class="panel-footer center">
           <%= link_to 'Show', task %>
            <% if task.user == current_user && (!current_user.nil?) %>
             <%= link_to 'Edit', edit_task_path(task) %>
             <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    
  </div>
