<%= link_to 'Back', tasks_path, class: "btn btn-default btn-primary" %>
<%# image_tag @task.image.url %>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 panel-default">
			<div class="panel-heading center">
				<blockquote>
					<p><span class="label label-default">To-Do</span>&nbsp;<%= @task.name %></p>
					<div class="btn-group">
						<%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_task_path(@task), class: "btn btn-default" %>
						<%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), @task, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>

					</div>
				</blockquote>

				<%= image_tag @task.image.url(:medium) %>
				<div class="panel-default panel-body text">
					<p>
						<strong><%= @task.user.name if @task.user  %></strong>
					</p>
					<p>
						Description:
						<%= @task.description %>
					</p>
					<p>
						Due:
						<%= @task.due %>
					</p>
					<p>
						Priority:
						<span  class="badge"><%= @task.priority %></span>
					</p>
				</div>			
			</div>
		</div>
	</div>
</div>

