<!DOCTYPE html>
<html>
<head>
	<title>Tasck</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<!-- For Mobile Responsiveness -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %>
	</div>

	<!-- Gridly Goes here -->
  <style type="text/css">
  .gridly {
    position: relative;
    width: 960px;
  }
  .brick.small {
    width: 140px;
    height: 140px;
  }
  .brick.large {
    width: 300px;
    height: 300px;
  }
  .brick.xl {
    width: 470px;
    height: 470px;
  }
  </style>

	<div class='content'>
      <section class='example'>
        <div class='gridly'>
          <div class='brick small'>
            <a class='delete' href='#'>&times;</a>
          </div>
          <div class='brick small'>
            <a class='delete' href='#'>&times;</a>
          </div>
          <div class='brick xl'>
            <div class="panel panel-default">
              This is some text inside the page. Let's see if tklsdjfglk;djgkjdsflgkjdsf;lkg jkdjfgkl j;dklfjgkldsjf gkldsfj gkldfjsg lkdjfs gkljdfsklgjdklsfj gkldsfj gkldsfj gkljdsf;lkgj dskfljgk;dlsfjgkld;sfjg
            </div>
            <a class='delete' href='#'>&times;</a>
          </div>
          <div class='brick small'>
            <a class='delete' href='#'>&times;</a>
          </div>
          <div class='brick small'>
            <a class='delete' href='#'>&times;</a>
          </div>
        </div>
        <p class='actions'>
          <a class='add button' href='#'>Add</a>
        </p>
      </section>
	<%= render 'layouts/footer' %>

</body>
</html>
